/*==================================================================================================
	Item Name: Stack - Responsive Admin Theme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
====================================================================================================
NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.abk-login-bg {
	background: #041E43;
}
.content-wrapper {
    min-height: 670px;
}
.leaflet-container {
    height: 600px;
}
.abk-details-resto .leaflet-container {
    height: 300px;
}
.abk-emplacement-resto .leaflet-container {
    height: 400px;
}
.abk-map-icon-resto{
	background-image: url(/assets/images/map/resto_marker.png);
	background-size: 41px;
}
.abk-map-icon-client{
	background-image: url(/assets/images/map/home_client.png);
	background-size: 41px;
}
.abk-map-icon-livreur{
	background-image: url(/assets/images/map/livreur.png);
	background-size: 41px;
}
.modal-90w {
    width: 70%;
    max-width: none!important;
}
.modal-60w {
    width: 50%;
    max-width: none!important;
}
.abk-pointer{
	cursor: pointer;
}
.abk-chat-manager{
	width: 350px;
	position: absolute;
	right: 35px;
	bottom: 0px;
	margin-bottom: 0px;
}
.abk-chat-manager .abk-chat-title{
	background-color: #404E67;
	padding: 8px 0 2px 0;
	color: #FFFFFF;
	cursor: pointer;
}
.abk-chat-manager .abk-chat-zone{
	overflow: hidden;
}
.abk-chat-manager .abk-chat-content{
	background-color: #DFDBE5;
}
.abk-chat-manager .abk-chat-content .abk-chat-body{
	overflow-y: scroll;
	position: relative;
	text-align: center;
	max-height: 350px;
}
.abk-chat-manager .abk-chat-content .abk-resto-msg{
	text-align: left;
	float: left;
	color: #404E67;
	background-color: #FAFBFB;
}
.abk-chat-manager .abk-chat-content .abk-backoffice-msg p{
	margin-bottom: 0;
	padding: 4px 5px;
}
.abk-chat-manager .abk-chat-content .abk-backoffice-msg{
	text-align: left;
	float: right;
	color: #FFFFFF;
	background-color: #00B5B8;
}
.abk-chat-manager .abk-chat-content .abk-msg{
	margin: 0 0.3rem 1.6rem 0.3rem;
	clear: both;
	padding: 2px 3px;
	box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
	position: relative;
	max-width: 290px;
	border-radius: 5px 0 10px 5px;
}
.abk-chat-manager .abk-chat-content .abk-msg .abk-chat-time{
	position: absolute;
	bottom: -17px;
	right: 0;
	color: #404E67;
	font-size: .7rem;
	white-space: nowrap;
}